<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Добрый день, {{ user.username }}!</h2>

    <p>Спасибо за регистрацию на <strong>News Portal</strong>!</p>

    <p>Теперь вы можете:</p>
    <ul>
        <li>Читать новости</li>
        <li>Не читать новости</li>
        <li>Подписываться на категории</li>
        <li>Стать автором</li>
        <li>Получать свежие новости на почту</li>
    </ul>

    <p><a href="http://127.0.0.1:8000/news/">Перейти на сайт</a></p>

    <hr>
    <p><small>Это письмо отправлено автоматически. Не отвечайте на него.</small></p>
</body>
</html>