{% extends 'default.html' %}
{% load censor_filters %}

{% block title %}{{ post.title|censor }}{% endblock %}

{% block content %}
    <h1>{{ post.title|censor }}</h1>

     <div class="post-categories">
        <strong>Категории:</strong>
        {% if post.categories.all %}
            {% for category in post.categories.all %}
                <span class="category">{{ category.name }}</span>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            <span>Без категории</span>
        {% endif %}
    </div>

    <div class="post-date">
        Опубликовано: {{ post.created_at|date:"d.m.Y" }}
    </div>
    <div class="post-text">
        {{ post.content|censor }}  <!-- Фильтр на весь текст -->
    </div>
    <p><a href="{% url 'news:list' %}">← Назад к списку</a></p>
{% endblock %}